services:
  wagoaais:
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    build:
      context: .
      dockerfile: ./docker/golang.Dockerfile
    restart: "on-failure"
    volumes:
      - whatsapp:/app/storages
    ports:
      - "3005:3000"
    env_file:
      - src/.env

volumes:
  whatsapp: